@model EmpleadoDto
@{
    ViewData["Title"] = "Eliminar Empleado";
}
<h1 class="mb-3 text-danger">Eliminar Empleado</h1>
<p class="text-danger">¿Confirmás eliminar este registro?</p>

<dl class="row">
    <dt class="col-sm-3">Nombre</dt>
    <dd class="col-sm-9">@($"{Model.Nombre} {Model.Apellidos}")</dd>
    <dt class="col-sm-3">Rol</dt>
    <dd class="col-sm-9">@Model.Rol</dd>
    <dt class="col-sm-3">Email</dt>
    <dd class="col-sm-9">@Model.Email</dd>
</dl>

<form asp-action="Delete" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />
    <button class="btn btn-danger" type="submit">Confirmar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
